<header>
  <h2>Morty<span>Read</span>API</h2>
</header>
<form action="">
  <input type="text">
  <button type="submit">Search</button>
  <label>Character
    <input type="radio" name="resources" value="character">
  </label>
  <label>Location
    <input type="radio" name="resources" value="location">
  </label>
  <label>Episode
    <input type="radio" name="resources" value="episode">
  </label>
  <select name="lenguage" id="">
    <option value="en">EN</option>
    <option value="uk">UA</option>
  </select>
  <select name="theme" id="">
    <option value="dark">Dark</option>
    <option value="light">Light</option>
  </select>
</form>